
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 2px;
}

h2, h3 {
    text-align: center;
}

img{
    display: block;
    margin: auto;
    width: 500px;
    height: auto;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 30%;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.journal-input {
    width: 100%;
    height: 150px;
    padding: 5px;
    border: 1px solid black;
}
button {
    width: 70%;
    padding: 10px;
    margin: 20px auto;  
    display: block;     
    background-color: aqua;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 15px;
    text-align: center;
    font-size: 150%;
    
}

.navbar a {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: yellow;
    text-decoration: underline;
    padding: 1%;

}

.blue-box {
    width: 40px;
    height: 40px;
    background-color: blue; /* change per box */
}

.indigo-box {
    width: 40px;
    height: 40px;
    background-color: indigo; /* change per box */
}

.violet-box {
    width: 40px;
    height: 40px;
    background-color: violet; /* change per box */
}
